!!!
html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet",href="css/styles.css")
    script(src="http://code.jquery.com/jquery-2.0.3.js")
    script(src="js/scripts.js")

  body
    nav
      a.home(href="#inspiration") Inspiration
      a.love(href="#love") Love
      a.humor(href="#humor") Humor
    section#inspiration
      h1
    section#love
      h1
    section#humor
      h1